.animalPost{
    background-color: lightblue;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}
.auctionMain{
    text-align: center;
}
.rvView{
    text-align: center;
}
.animalImage{
    margin-right: 50px;
    border-radius: 50px;
}
