.animalPost{
    margin-top: 15px;
    background-color: lightblue;
    align-items: center;
    justify-content: center;
}
.auctionMain{
    padding-top: 50px;

}
.imageCSS{
    flex-basis: 40%;
}
img{
    float: right;
    width: 750px;
    height: 255px;
}
.textAuction{
    padding-left: 20px;
    font-size: 20px;
    color: wheat;
}
.TitleScreen{
    color: wheat;
}
