.App {
  text-align: center;
  background-color: #c5cfde;
}
#login {
  float:right;
}
#logout{
  float:right;
}

#navbar{
  display: flex;
  padding: 0 1rem;
  z-index: 99 !important;
  position: absolute;
  top: 0px;
  background-color: rgb(164, 186, 199);
}

.link {
  border:10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #00C853, #B2FF59);
  border-radius: 10px;
  background-image: linear-gradient(to left, #00C853, #B2FF59);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
